@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope/Manrope-VariableFont_wght.ttf");
}

body {
  font-family: "Manrope", sans-serif;
  background-color: #0e0e0e;
}
p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.katex {
  padding: 0 0.5em;
}
